.custom_image {
  position: relative;
}

.none_image {
  img {
    background-color: #dbdbdb;
  }
}

.display_none {
  display: none;
}

.loading_image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: gray;

  & > div {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
