.loading {
  width: 100%;
  height: calc(100vh);
  background-color: #fff;
  aspect-ratio: 1;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  position: relative;
}

.dot_spinner {
  display: grid;
  place-items: center;
  position: relative;
  width: 4.25em;
  height: 4.25em;
}

.dot {
  --size: 1em;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 100%;
  width: var(--size);
  background-color: rgb(1, 180, 228);
  opacity: 0;
  top: calc(var(--size) / 2);
  left: calc(var(--size) / 2);
}

@keyframes animate-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@for $i from 1 through 8 {
  .dot:nth-child(#{$i}) {
    --degrees: calc((#{$i - 1} * 360deg) / 8);
    transform: translate(
      calc(cos(var(--degrees)) * 25px),
      calc(sin(var(--degrees)) * 25px)
    );
    animation: animate-in
      900ms
      ease-in-out
      calc((#{$i - 1} * 100ms))
      infinite
      alternate;
  }
}
