:root {
}

@font-face {
  font-family: "pretendard";
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css")
    format("woff");
  font-weight: "normal";
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;

  font-family: "pretendard";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

.MuiSlider-track {
  height: 2px !important;
  color: rgb(1, 180, 228);
}

.MuiSlider-rail {
  height: 2px !important;
  color: #a9a9a9;
}

.MuiSlider-thumb {
  color: rgb(1, 180, 228);
  width: 16px !important;
  height: 16px !important;
}
