.person {
  width: 1300px;
  height: auto;
  margin: 0 auto;
}

.person_title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.6em;
  font-weight: bold;
}

.person_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.person_card {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(227, 227, 227, 1);
}

.image {
  position: relative;

  width: 100%;
  height: calc(100vw / 4);
  max-height: calc((1300px - 140px) / 4);
  margin: 0;
}

.favorites_area {
  display: flex;
  justify-content: end;

  width: 100%;

  box-sizing: border-box;
  padding-top: 8px;
  padding-right: 10px;
}

.person_info {
  padding: 8px 10px;
  width: 100%;
  box-sizing: border-box;
}

.person_name {
  width: 100%;
  line-height: 1.2em;
  font-weight: bold;
}

.person_text {
  font-size: 0.9em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin-top: 0;
}

.person_pagination {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
