.title {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.cast_list {
  position: relative;
  width: calc(100vw - 290px);
  max-width: calc(1300px - 290px);

  &::after {
    content: "";
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0,
      #fff 100%
    );
    will-change: opacity;
    pointer-events: none;
  }

  ul {
    display: flex;
    gap: 10px;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(219, 219, 219);
      border-radius: 8px;
    }
  }

  li {
    min-width: 140px;
    width: 140px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(227, 227, 227, 1);
    padding-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.image {
  position: relative;
  min-width: 140px;
  width: 140px;
  height: 175px;
}

.name {
  padding: 0 10px;
  padding-top: 10px;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.casting {
  padding: 0 10px;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
}
