.hide_checkbox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 6px;
}

.datepicker {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 6px;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    height: 33px;

    span {
      color: #a9a9a9;
    }

    & > div:last-of-type {
      z-index: 200;
      position: absolute !important;
      right: 0;
    }

    svg {
      top: 50%;
      transform: translateY(-50%);
      color: #a9a9a9;
      left: 0;
    }

    input {
      cursor: pointer;
      height: 33px;
      width: 125px;
      border: 1px solid #e4e7eb;
      margin: 0;
      border-radius: 8px;
      box-sizing: border-box;
      padding: 6px 12px;
      padding-left: 35px;
      font-size: 0.9em;

      &:focus {
        outline-color: #01b4e4;
      }
    }
  }
}
