.history {
  position: relative;
}

.history_text {
  max-height: var(--max_height);
  line-height: 1.4em;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.innerText {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 22px;
}

.text_btn {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    margin-top: 10px;
    font-weight: bold;

    &:hover {
      color: var(--main_blue);
    }
  }
}

.open_text_btn {
  svg {
    transition: all 0.5s ease-out;
    transform: scale(3);
  }
}

.close_text_btn {
  svg {
    transition: all 0.5s ease-out;
    transform: scale(3) rotate(-180deg);
  }
}
