.home_list {
  display: flex;
  height: auto;
  gap: 20px;

  padding: 20px 40px;

  box-sizing: border-box;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 219);
    border-radius: 8px;
  }

  li {
    position: relative;
  }
}

.favorites_mark {
  display: flex;
  align-items: center;
}

.favorites_Star {
  svg {
    color: rgb(194, 194, 52);
  }
}

.favorites_Star_border {
  svg {
    color: gray;
  }
}

.image {
  border-radius: 8px;
  position: relative;
  width: 150px;
  height: 225px;
  overflow: hidden;
}

.title_release {
  padding: 26px 10px 0;

  .title {
    font-weight: bold;

    &:hover {
      color: var(--main_blue);
    }
  }

  .release {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
}
